[Unit]
Description=node.js server to manage yeelight Bluetooth, Find Iphone and Blinds
After=network.target
#StartLimitIntervalSec=0
#StartLimitAction=reboot.

[Service]
ExecStart=/var/opt/node/smartthings-edge-lanserver/startServer.js
Restart=always
RestartSec=1
User=smartdev
Group=smartdev
Environment=PATH=/usr/bin:/usr/local/bin:/usr/sbin
Environment=NODE_ENV=production
WorkingDirectory=/var/opt/node/smartthings-edge-lanserver/

[Install]
WantedBy=multi-user.target